@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


.App {
  min-height: 100vh;
  display: flex;
  background-image: url("https://www.shutterstock.com/image-vector/seamless-pattern-social-media-networking-600nw-1039923571.jpg");
  background-position: cover;
  background-position: center;
}

